<form class="greybeardqol attribute-choice-form" style="--theme-color: {{themeColor}}">
  {{#each attributeSets}}
    <div class="attribute-set card-grid" style="max-width: {{maxWidth}}; --col-count: {{stats.length}};" data-set-index="{{@index}}" data-mod="{{modification}}">
      {{#each stats}}
        <div class="card dialog-card interactive" data-attr="{{this}}">
          <img class="icon" src="systems/mothership-fr/images/icons/ui/attributes/{{this}}.png" alt="{{this}} Icon">
          <h3>{{capitalize this}}</h3>
          <div class="mod counter">{{#if (gt ../modification 0)}}+{{/if}}{{../modification}}</div>
        </div>
      {{/each}}
    </div>
  {{/each}}

  <!-- Bottom: Skill columns -->
  <div class="confirm-button-row">
    <button type="button" id="confirm-button" class="pill confirm-button locked">Confirmer</button>
  </div>
  
</form>
