<div class="greybeardqol" style="--theme-color: {{themeColor}}">
  <div class="card-grid" style="--col-count: {{gridColumns}};">
    {{#each classes}}
      <div class="card dialog-card interactive" data-class="{{this.id}}">
        <img src="{{this.img}}" alt="{{this.name}}">
        <h3>{{this.name}}</h3>
        <div class="attributes-container">{{{this.attributes}}}</div>
        <p class="trauma-response">{{this.trauma}}</p>
        <p class="description">{{this.description}}</p>
      </div>
    {{/each}}
  </div>
</div>
