<form class="greybeardqol" style="--theme-color: {{themeColor}}">
  <div class="card-grid" style="--col-count: {{tiers.length}};">
    {{#each tiers as |tier|}}
      <label class="card dialog-card interactive">
        <input type="radio" name="shore-tier" value="{{tier.tier}}" style="display: none;">

        {{#if tier.flavor.icon}}
          <i class="fas {{tier.flavor.icon}} icon"></i>
        {{else if tier.icon}}
          <i class="fas {{tier.icon}} icon"></i>
        {{/if}}

        <h3>{{tier.label}}</h3>

        {{#if tier.flavor.label}}
          <div class="flavor-label text-highlight">
            {{tier.flavor.label}}
          </div>
        {{/if}}
        
        {{#if tier.flavor.description}}
          <div class="flavor-description">
            {{tier.flavor.description}}
          </div>
        {{/if}}
        {{#if tier.flavor.label}}
          <div class="pill reroll-flavor interactive">
            <i class="fas fa-dice"></i>
            <span>Relancer Parfum</span>
          </div>
        {{/if}}
        
        <div class="stress-description">
          <strong>Conversion de Stress</strong>
          <div class="text-highlight">{{tier.stressString}}</div>
        </div>

        <div class="stress-description">
          <strong>Prix</strong>
          <div class="text-highlight">{{tier.priceString}}</div>
        </div>

        <div class="pill roll-price interactive" data-tier="{{tier.tier}}">
          <i class="fas fa-coins"></i>
          <span>Lancer Prix</span>
        </div>

      </label>
    {{/each}}
  </div>
  <!-- Confirm Button -->
  <div class="confirm-button-row">
    <button type="button" id="confirm-button" class="pill confirm-button locked">Confirmer</button>
  </div>
 
</form>
